[user]
  email = lastthursdayist@gmail.com
  name = fl0wsnake
[credential]
  helper = /run/current-system/sw/bin/git-credential-manager
[credential "https://dev.azure.com"]
  useHttpPath = true
[color]
  ui = auto
[safe]
	directory = /home/nix/.config/nixos-rice # for nixos-upgrade.service enabled by system.autoUpgrade
[alias]
	open = !xdg-open $(git remote get-url origin) 2>/dev/null || open $(git remote get-url origin)
[init]
	defaultBranch = main
[core]
  pager = less -+F
[pager]
  log = less -+F
  show = delta
  diff = delta
