[user]
  email = lastthursdayist@gmail.com
  name = fl0wsnake
[credential]
  helper = /run/current-system/sw/bin/git-credential-manager
[credential "https://dev.azure.com"]
  useHttpPath = true
[color]
  ui = auto
[safe]
	directory = /home/nix/.config/nixos-rice # for nixos-upgrade.service enabled by system.autoUpgrade
