// * {
//   all: unset;
// }

// .bar {
//   padding: 0 0px;
// }

window {
  background-color: #000;
  color: #fff;
  // font: Monospace 12;
}

.warning {
  color: #ff0;
}

.critical {
  color: #f00;
}

.active_ws {
  color: turquoise;
}
